---
import Layout from "../../layouts/Layout.astro";
import NotificationsCenter from "../../components/NotificationsCenter";

const { locals } = Astro;
if (!locals.user) {
  return Astro.redirect("/giris?redirect=/bildirimler");
}
---

<Layout title="Bildirimler - Sanliurfa.com">
  <div class="max-w-2xl mx-auto px-4 py-8">
    <NotificationsCenter client:visible={{ rootMargin: '120px' }} />
  </div>
</Layout>
