{
  "openapi": "3.0.3",
  "info": {
    "title": "Şanlıurfa.com API",
    "description": "REST API for Şanlıurfa City Guide Platform",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "api@sanliurfa.com",
      "url": "https://sanliurfa.com/support"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://sanliurfa.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging.sanliurfa.com/api/v1",
      "description": "Staging server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and registration"
    },
    {
      "name": "Places",
      "description": "Places and locations management"
    },
    {
      "name": "Reviews",
      "description": "Reviews and ratings"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Search",
      "description": "Search functionality"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "description": "Check API and dependencies health status",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          },
          "503": {
            "description": "Service is unhealthy"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register new user",
        "operationId": "registerUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "409": {
            "description": "User already exists"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "operationId": "loginUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/places": {
      "get": {
        "tags": ["Places"],
        "summary": "List all places",
        "operationId": "listPlaces",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          },
          {
            "name": "category",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude for nearby search",
            "schema": { "type": "number" }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude for nearby search",
            "schema": { "type": "number" }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in meters",
            "schema": { "type": "number", "default": 5000 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of places",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Places"],
        "summary": "Create new place",
        "operationId": "createPlace",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Place created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/places/{id}": {
      "get": {
        "tags": ["Places"],
        "summary": "Get place by ID",
        "operationId": "getPlace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Place details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          },
          "404": {
            "description": "Place not found"
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "tags": ["Reviews"],
        "summary": "List reviews",
        "operationId": "listReviews",
        "parameters": [
          {
            "name": "placeId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Reviews"],
        "summary": "Create review",
        "operationId": "createReview",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Search places and content",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["places", "blog", "all"],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["healthy", "degraded", "unhealthy"] },
          "timestamp": { "type": "string", "format": "date-time" },
          "uptime": { "type": "number" },
          "version": { "type": "string" },
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "status": { "type": "string" },
                "responseTime": { "type": "number" }
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "fullName": { "type": "string" },
          "avatar": { "type": "string" },
          "role": { "type": "string", "enum": ["user", "moderator", "admin"] },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "fullName"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "minLength": 8 },
          "fullName": { "type": "string", "minLength": 2 }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string" }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "user": { "$ref": "#/components/schemas/User" },
          "token": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "category": { "type": "string" },
          "address": { "type": "string" },
          "latitude": { "type": "number" },
          "longitude": { "type": "number" },
          "rating": { "type": "number" },
          "reviewCount": { "type": "integer" },
          "images": {
            "type": "array",
            "items": { "type": "string" }
          },
          "isOpen": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "PlaceInput": {
        "type": "object",
        "required": ["name", "category", "latitude", "longitude"],
        "properties": {
          "name": { "type": "string", "minLength": 2, "maxLength": 200 },
          "description": { "type": "string", "maxLength": 5000 },
          "category": { "type": "string" },
          "address": { "type": "string" },
          "latitude": { "type": "number", "minimum": -90, "maximum": 90 },
          "longitude": { "type": "number", "minimum": -180, "maximum": 180 },
          "images": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "PlaceList": {
        "type": "object",
        "properties": {
          "places": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Place" }
          },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "limit": { "type": "integer" }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "placeId": { "type": "string" },
          "user": { "$ref": "#/components/schemas/User" },
          "rating": { "type": "integer", "minimum": 1, "maximum": 5 },
          "content": { "type": "string" },
          "images": {
            "type": "array",
            "items": { "type": "string" }
          },
          "helpful": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "ReviewInput": {
        "type": "object",
        "required": ["placeId", "rating", "content"],
        "properties": {
          "placeId": { "type": "string" },
          "rating": { "type": "integer", "minimum": 1, "maximum": 5 },
          "content": { "type": "string", "minLength": 10, "maxLength": 2000 },
          "images": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "ReviewList": {
        "type": "object",
        "properties": {
          "reviews": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Review" }
          },
          "total": { "type": "integer" },
          "averageRating": { "type": "number" }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "query": { "type": "string" },
          "places": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Place" }
          },
          "total": { "type": "integer" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
