<div data-activity-feed>
  <div data-activity-feed-loading class="flex justify-center py-12">
    <p class="text-gray-600 dark:text-gray-400">Etkinlik akışı yükleniyor...</p>
  </div>
  <div data-activity-feed-content class="hidden"></div>
</div>

<script>
  import { initActivityFeed } from '../scripts/activity-feed';

  initActivityFeed();
</script>
