---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-activity-feed>
  <LoadingWrapper
    loadingClass="flex justify-center py-12 text-gray-600 dark:text-gray-400"
    loadingDataAttr="data-activity-feed-loading"
    message={UI_COPY_TR.activityFeed.loading}
    contentDataAttr="data-activity-feed-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initActivityFeed } from '../scripts/activity-feed';

  initActivityFeed();
</script>
