---
---

<div data-admin-analytics-dashboard>
  <div data-admin-analytics-loading class="flex items-center justify-center p-8">
    <div class="h-12 w-12 animate-spin rounded-full border-b-2 border-blue-600"></div>
  </div>
  <div data-admin-analytics-content class="hidden"></div>
</div>

<script>
  import { initAdminAnalyticsDashboard } from '../scripts/admin-analytics-dashboard';

  initAdminAnalyticsDashboard();
</script>
