---
---

<div data-admin-loyalty-panel>
  <div data-admin-loyalty-loading class="flex items-center justify-center p-8">
    <div class="h-12 w-12 animate-spin rounded-full border-b-2 border-blue-600"></div>
  </div>
  <div data-admin-loyalty-content class="hidden"></div>
</div>

<script>
  import { initAdminLoyaltyPanel } from '../scripts/admin-loyalty-panel';

  initAdminLoyaltyPanel();
</script>
