---
---

<div data-analytics-panel>
  <div data-analytics-panel-loading class="flex items-center justify-center p-8">
    <div class="h-12 w-12 animate-spin rounded-full border-b-2 border-blue-600"></div>
  </div>
  <div data-analytics-panel-content class="hidden"></div>
</div>

<script>
  import { initAnalyticsPanel } from '../scripts/analytics-panel';

  initAnalyticsPanel();
</script>
