---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-billing-history>
  <LoadingWrapper
    loadingClass="space-y-3"
    loadingDataAttr="data-billing-loading"
    message={UI_COPY_TR.billing.loading}
    variant="skeleton"
    skeletonCount={3}
    contentDataAttr="data-billing-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initBillingHistory } from '../scripts/billing-history';

  initBillingHistory();
</script>
