---
interface Props {
  userId: string;
}

const { userId } = Astro.props;
---

<div data-collections-manager data-user-id={userId}>
  <div data-collections-manager-content>
    <div class="py-12 text-center text-gray-600 dark:text-gray-400">
      Koleksiyon listesi yükleniyor...
    </div>
  </div>
</div>

<script>
  import { initCollectionsManager } from '../scripts/collections-manager';

  initCollectionsManager();
</script>
