---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';

const { collectionId, currentUserId } = Astro.props;
---

<div
  data-collection-detail
  data-collection-id={collectionId}
  data-current-user-id={currentUserId || ''}
>
  <LoadingWrapper
    loadingClass="py-12 text-center"
    loadingDataAttr="data-collection-detail-loading"
    message={UI_COPY_TR.collectionDetail.loading}
    contentDataAttr="data-collection-detail-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initCollectionDetail } from '../scripts/collection-detail';

  initCollectionDetail();
</script>
