---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-content-manager>
  <LoadingWrapper
    loadingClass="p-4 text-center text-gray-500"
    loadingDataAttr="data-content-manager-loading"
    message={UI_COPY_TR.content.loading}
    contentDataAttr="data-content-manager-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initContentManager } from '../scripts/content-manager';

  initContentManager();
</script>
