---
---

<div data-content-manager>
  <div data-content-manager-loading class="p-4 text-center text-gray-500">Yükleniyor...</div>
  <div data-content-manager-content class="hidden"></div>
</div>

<script>
  import { initContentManager } from '../scripts/content-manager';

  initContentManager();
</script>
