---
---

<div data-moderation-queue-manager>
  <div data-moderation-queue-loading class="py-8 text-center text-gray-500">Yükleniyor...</div>
  <div data-moderation-queue-content class="hidden"></div>
</div>

<script>
  import { initModerationQueueManager } from '../scripts/moderation-queue-manager';

  initModerationQueueManager();
</script>
