<div data-moderation-dashboard>
  <div data-moderation-dashboard-loading class="text-center py-8">Yukleniyor...</div>
  <div data-moderation-dashboard-content class="hidden"></div>
</div>

<script>
  import { initModerationDashboard } from '../scripts/moderation-dashboard';

  initModerationDashboard();
</script>
