---
---

<div data-my-activity-log>
  <div data-activity-loading class="py-8 text-center text-gray-600">Yükleniyor...</div>
  <div data-activity-content class="hidden"></div>
</div>

<script>
  import { initMyActivityLog } from '../scripts/my-activity-log';

  initMyActivityLog();
</script>
