---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-notification-center>
  <LoadingWrapper
    className="py-8 text-center text-gray-500"
    loadingText={UI_COPY_TR.notifications.loading}
    srText={UI_COPY_TR.notifications.loading}
    wrapperClassName=""
    dataAttributes={{ 'data-notification-center-loading': '' }}
  />
  <div data-notification-center-content class="hidden"></div>
</div>

<script>
  import { initNotificationCenter } from '../scripts/notification-center';

  initNotificationCenter();
</script>
