---
---

<div data-notifications-center>
  <div data-notifications-center-loading class="py-8 text-center text-gray-500">Bildirim merkezi yükleniyor...</div>
  <div data-notifications-center-content class="hidden"></div>
</div>

<script>
  import { initNotificationsCenter } from '../scripts/notifications-center';

  initNotificationsCenter();
</script>
