---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-notifications-center>
  <LoadingWrapper
    className="py-8 text-center text-gray-500"
    loadingText={UI_COPY_TR.notifications.loading}
    srText={UI_COPY_TR.notifications.loading}
    wrapperClassName=""
    dataAttributes={{ 'data-notifications-center-loading': '' }}
  />
  <div data-notifications-center-content class="hidden"></div>
</div>

<script>
  import { initNotificationsCenter } from '../scripts/notifications-center';

  initNotificationsCenter();
</script>
