---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-notification-preferences>
  <LoadingWrapper
    loadingClass="space-y-4"
    loadingDataAttr="data-preferences-loading"
    message={UI_COPY_TR.preferences.loading}
    variant="skeleton"
    skeletonCount={3}
    skeletonItemClass="h-40 animate-pulse rounded-lg bg-gray-200"
    contentDataAttr="data-preferences-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initNotificationPreferences } from '../scripts/notification-preferences';

  initNotificationPreferences();
</script>
