---
---

<div data-notification-center>
  <div data-notification-center-loading class="py-8 text-center text-gray-500">Bildirim merkezi yükleniyor...</div>
  <div data-notification-center-content class="hidden"></div>
</div>

<script>
  import { initNotificationCenter } from '../scripts/notification-center';

  initNotificationCenter();
</script>
