---
---

<div data-report-manager>
  <div data-report-manager-loading class="p-4 text-center text-gray-500">Raporlar yükleniyor...</div>
  <div data-report-manager-content class="hidden"></div>
</div>

<script>
  import { initReportManager } from '../scripts/report-manager';

  initReportManager();
</script>
