---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-report-manager>
  <LoadingWrapper
    loadingClass="p-4 text-center text-gray-500"
    loadingDataAttr="data-report-manager-loading"
    message={UI_COPY_TR.reports.loading}
    contentDataAttr="data-report-manager-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initReportManager } from '../scripts/report-manager';

  initReportManager();
</script>
