---
interface Props {
  query?: string;
}

const { query = '' } = Astro.props;
---

<div data-search-results data-query={query}>
  <div data-search-results-loading class="py-8 text-center text-gray-600 dark:text-gray-400">
    Yükleniyor...
  </div>
  <div data-search-results-content class="hidden"></div>
</div>

<script>
  import { initSearchResults } from '../scripts/search-results';

  initSearchResults();
</script>
