---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';

interface Props {
  query?: string;
}

const { query = '' } = Astro.props;
---

<div data-search-results data-query={query}>
  <LoadingWrapper
    loadingClass="py-8 text-center text-gray-600 dark:text-gray-400"
    loadingDataAttr="data-search-results-loading"
    message={UI_COPY_TR.search.loading}
    contentDataAttr="data-search-results-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initSearchResults } from '../scripts/search-results';

  initSearchResults();
</script>
