---
---

<div data-subscription-manager>
  <div data-subscription-loading class="h-40 animate-pulse rounded-lg bg-gray-200"></div>
  <div data-subscription-content class="hidden"></div>
</div>

<script>
  import { initSubscriptionManager } from '../scripts/subscription-manager';

  initSubscriptionManager();
</script>
