---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div data-subscription-admin-dashboard>
  <LoadingWrapper
    loadingClass="space-y-6"
    loadingDataAttr="data-subscription-admin-loading"
    message={UI_COPY_TR.subscriptionAdmin.loading}
    variant="skeleton"
    skeletonCount={4}
    skeletonItemClass="h-32 animate-pulse rounded-lg bg-gray-200 dark:bg-gray-700"
    contentDataAttr="data-subscription-admin-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initSubscriptionAdminDashboard } from '../scripts/subscription-admin-dashboard';

  initSubscriptionAdminDashboard();
</script>
