---
---

<div data-user-settings>
  <div data-user-settings-loading class="py-8 text-center text-gray-600 dark:text-gray-400">
    Yükleniyor...
  </div>
  <div data-user-settings-content class="hidden"></div>
</div>

<script>
  import { initUserSettings } from '../scripts/user-settings';

  initUserSettings();
</script>
