<div class="space-y-4" data-user-suggestions-panel>
  <div
    data-user-suggestions-loading
    class="py-8 text-center text-gray-600 dark:text-gray-300"
  >
    Yükleniyor...
  </div>
  <div data-user-suggestions-content class="hidden"></div>
</div>

<script>
  import { initUserSuggestionsPanel } from '../scripts/user-suggestions-panel';

  initUserSuggestionsPanel();
</script>
