---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div class="space-y-4" data-user-recommendations>
  <LoadingWrapper
    loadingClass="py-8 text-center text-gray-600 dark:text-gray-300"
    loadingDataAttr="data-user-recommendations-loading"
    message={UI_COPY_TR.recommendations.loading}
    contentDataAttr="data-user-recommendations-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initUserRecommendations } from '../scripts/user-recommendations';

  initUserRecommendations();
</script>
