---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';

interface Props {
  userId: string;
  currentUserId?: string;
}

const { userId, currentUserId } = Astro.props;
---

<div
  data-user-public-profile
  data-user-id={userId}
  data-current-user-id={currentUserId ?? ''}
>
  <LoadingWrapper
    loadingClass="py-12 text-center text-gray-500"
    loadingDataAttr="data-user-public-profile-loading"
    message={UI_COPY_TR.profile.publicLoading}
    contentDataAttr="data-user-public-profile-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initUserPublicProfile } from '../scripts/user-public-profile';

  initUserPublicProfile();
</script>
