---
import LoadingWrapper from './ui/LoadingWrapper.astro';
import { UI_COPY_TR } from '../lib/ui-copy';
---

<div class="space-y-4" data-user-suggestions-panel>
  <LoadingWrapper
    loadingClass="py-8 text-center text-gray-600 dark:text-gray-300"
    loadingDataAttr="data-user-suggestions-loading"
    message={UI_COPY_TR.userSuggestions.loading}
    contentDataAttr="data-user-suggestions-content"
    contentClass="hidden"
  />
</div>

<script>
  import { initUserSuggestionsPanel } from '../scripts/user-suggestions-panel';

  initUserSuggestionsPanel();
</script>
