<div class="space-y-4" data-user-recommendations>
  <div data-user-recommendations-loading class="py-8 text-center text-gray-600 dark:text-gray-300">
    Öneriler yükleniyor...
  </div>
  <div data-user-recommendations-content class="hidden"></div>
</div>

<script>
  import { initUserRecommendations } from '../scripts/user-recommendations';

  initUserRecommendations();
</script>
