---
---

<div data-user-profile>
  <div data-user-profile-loading class="container-custom py-12 text-center text-gray-600">
    Yükleniyor...
  </div>
  <div data-user-profile-content class="hidden"></div>
</div>

<script>
  import { initUserProfile } from '../scripts/user-profile';

  initUserProfile();
</script>
