---
---

<div data-vendor-dashboard>
  <div data-vendor-dashboard-content></div>
</div>

<script>
  import { initVendorDashboard } from '../scripts/vendor-dashboard';

  initVendorDashboard();
</script>
