---
import AdminLayout from '../../layouts/AdminLayout.astro';
import GovernanceDashboard from '../../components/GovernanceDashboard';
---

<AdminLayout
 title="Yönetişim Paneli"
 subtitle="Veri yönetimi, denetim ve uyumluluk takibi"
>
 <div class="sf-container py-8">
 <GovernanceDashboard client:visible />
 </div>
</AdminLayout>
