---
import AdminLayout from '../../layouts/AdminLayout.astro';
import AdminManager from '../../components/admin/AdminManager';
---

<AdminLayout
 title="Yönetim"
 subtitle="Yerler, yorumlar ve kullanıcıları yönet"
>
 <div class="sf-container py-8">
 <AdminManager client:visible />
 </div>
</AdminLayout>
